data/logs/suricata/eve.json
data/logs/suricata/fast.log
data/logs/suricata/suricata.log
data/logs/suricata/stats.log
data/logs/surivisor.log
data/logs/suricata/log.pcap.*
data/reports
data/stats
data/pcap
src/ui/dashboard/node_modules
docs
venv
etc
config/rules/suricata.rules
.vscode